<!doctype html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>Robobase</title>
	<script src="frontEnd.js"></script>
</head>

<body onload="fillSelect()">
	<p>Hello World!</p>
	
	<select id='x'>
		
	</select>
</body>

</html>