<!doctype html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>Robobase - Login</title>
	<script src="login.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
	<p>Welcome!  Please Log In</p>
	
	<fieldset>
		<legend>Log In</legend>
		Username: <input id="username" type="text"><br>
		Password: <input id="password" type="password"><br>
		
		<button type="button" onclick="loginClick()">Log In</button>
	</fieldset>
	
</body>

</html>