<!doctype html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>Robobase - Menu</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
	<p>Coach Menu</p>
	<p>Welcome <%= username %></p>
	<p><%= taskError %></p>
	<div id="menuLinks">
		<a href="/coach/eventAvailability" class='nav'>Event Availability</a>
		<br>
	</div>
	
	<div>
		<a href="/" class = 'nav'>Log Out</a>
	</div>
</body>

</html>