<!doctype html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>Robobase - Checkout/Checkin</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	
	<script src="../student/partCheckout.js"></script>
</head>

<body onload="loadFunction()">
	<p>Checkout/Checkin</p>
	<div>
		<p>Current Inventory</p>
		<table id="inventoryTable"></table>
	</div>
	
	<div id="checkoutSelector">
		<p>Checkout a Part</p>
		
		<select id="rootChildren" data-level=0 onChange="cascadeChildren(this)"></select>
		
		<select id="parts"></select>
	</div>
</body>

</html>