<!doctype html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>Robobase - Event Availability</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<script src="../coach/eventAvailability.js"></script>
</head>

<body onload="pullEventData()">
	<p>Event Availability Report</p>
	
	<table id="availTable">
	
	</table>
</body>

</html>